# App
PORT=5000
NODE_ENV=development

# MongoDB Atlas connection string
MONGO_URL=

# Cloudinary credentials
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# URLs
NEXT_BACKEND_API_URL=http://localhost:5000
FRONTEND_URL=http://localhost:3000
